body{
  background-color: black;
  display: flex;
  flex-direction: column;
}


p{
  margin: 0;
}

main{
  user-select: none;
}

.hero{
  background-size: cover;
  height: 150px;
  width: 150px;
}

#main-container{
  min-height: calc(100vh - 64px);
  flex-grow: 1;
}

#ground-container{
  background-color: rgb(68, 38, 38);
  
}